/* Définition des polices personnalisées */

@font-face {
    font-family: 'raleway';
    src: url('raleway-variablefont_wght-webfont.eot');
    src: url('raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff'),
         url('raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Définition des styles principaux de la page */

#container
{
    margin-top: 30px;
    font-size: 15px;
}

body
{
    font-family: raleway, Arial, Helvetica, sans-serif;
    color: black;
}

/* entête */


.headerimg
{
    width: 100px;
}

.signup
{
    position: absolute;
    top: 50px;
    right: 10px;
    font-weight:800;
    color: #0065FC;
    text-decoration:none;
}

/* Navigation*/

nav
{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.headernav
{
    color: black;
    text-align: center;
    text-decoration: none;
    padding-bottom: 15px;
    width: 50%;
    border-bottom: 3px solid #F2F2F2;
}

nav a:hover
{
    color: #0065FC;
    padding-bottom: 15px;
    border-bottom: 3px solid #0065FC;
}

/* Zone de recherche*/

h1,h2
{
    font-size: 140%;
    font-weight: 800;
}

#searchzone
{
    display:flex;
    height: 50px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    
}

.searchico
{
    display:flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.searchzonemarker
{
    font-size: 140%;
}

.searchzonetxt
{
    font-size: 15px;
    padding-left: 10px;
    border:none;
}

.searchmobile
{
    position: absolute;
    right: 10px;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 120%;
    background-color: #0065FC;
    border:none;
    border-radius: 15px 15px 15px 15px;
}

.searchdesktop
{
    display: none
}

/* Zone de filtres */

.searchfilters
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.searchfilterstitle
{
    font-size: 120%;
    font-weight: 800;
    width: 100%;     
}

.searchfilterschoice
{
    display: flex;
    height: 50px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-right: 8px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
}

.searchfiltersfamily
{
    display: flex;
    flex-direction: column;
    background-color:#DEEBFF;
    width: 50px;
    height: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
}

.searchfiltersfamilyico
{
    font-size: 150%;
    color: #0065FC;
}

.searchfiltersfamilytitle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 800;
}

.searchfilterschoice:hover
{
    border: 5px ridge #0065FC;
    box-shadow: 6px -6px 2px #DEEBFF;
}

/* info */

.info
{
    display: flex;
}

.infoicone
{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
}

.infoicone
{
    color: #0065FC;
    font-size: 80%;
}

.infotext
{
    display: flex;
    flex-direction: column;
    margin-left: 10PX;
    padding-top: 3px;
}

/* Les plus populaires */

#mostpopular
{
    background-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 0px;
    width: 300px;
    padding-bottom: 10px;
}


.populartitle
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#popularvisual1
{
    margin-top: 10;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-image: url('images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left -25px bottom 0px;
    position: relative;
    background-color: white;
    margin-bottom: 15px;
    background-color: white;
    border: solid 5px white;
}

#popularvisual2
{
    margin-top: 10;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-image: url('images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left -25px bottom 0px;
    position: relative;
    background-color: white;
    margin-bottom: 15px;
    background-color: white;
    border: solid 5px white;
}

#popularvisual3
{
    margin-top: 10;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    background-image: url('images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 0px;
    position: relative;
    background-color: white;
    margin-bottom: 15px;
    background-color: white;
    border: solid 5px white;
}

.popularvisualdescription
{
    
    position:absolute;
    left: 32%;
    width: auto;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.popularprice
{
    margin-top: 5px;
    margin-bottom: 18px;
    font-size: 15px;
}

.populardescription
{
    font-size: 15px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 5px;
}

.popularvisualdescription i
{
    font-size: 8px;
}

.staron
{
    color: #0065FC;
}

.staroff
{
    color: #F2F2F2;
}

@media all and (min-width:768px)
{
    /* Navigation */
    #searchzone
    {
        width: 350px;
        border-radius: 0px 25px 25px 0px;
    }

    .searchico
    {
        width: 50px;
        text-align: center;
        background-color: #F2F2F2;
        border-radius: 0px 0px 0px 0px;
    }

    .searchdesktopico
    {
        display: none;
    }
    
    .searchdesktop
    {
        display: inline;
    }

    .searchmobile
    {
        width: 150px;
        font-size: 100%;
        left: 250px;
        border-radius: 0px 15px 15px 0px;
    }

    /* Zone de filtres */
    .searchfilters
    {
        margin-top: 20px;
    }

    .searchfilterschoice
    {
        margin-right: 20px;
    }

}

@media all and (min-width:992px)
{
    #container
    {
    margin-top: 50px;
    }

    /* entête */

    .signup
    {
        right: 20px;
        padding-left: 20px;
    }

    header
    {
        display: flex;
    }

    /* Navigation */

    nav
    {
        position: absolute;
        right: 120px;
        top: 0px;
    }

    .headernav
    {
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    nav a:hover
    {
        padding-top: 30px;
        padding-bottom: none;
        border-bottom: none;
        border-top: 3px solid #0065FC;
    }

    /* Zone de filtres */
    .searchfilterstitle
    {
        padding-right: 20px;
        width: auto;     
    }
}







