
/* Définition des styles principaux de la page */

#container
{
    margin-top: 30px;
    font-size: 15px;
}

body
{
    font-family: raleway, Arial, Helvetica, sans-serif;
    color: black;
}


/* entête */

.headerimg
{
    width: 100px;
}

.signup
{
    position: absolute;
    top: 50px;
    right: 10px;
    font-weight:800;
    color: #0065FC;
    text-decoration:none;
}


/* Navigation*/

nav
{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.headernav
{
    text-align: center;
    color:black;
    text-decoration: none;
    padding-bottom: 15px;
    width: 50%;
    border-bottom: 3px solid #F2F2F2;
}

nav a:hover
{
    color: #0065FC;
    padding-bottom: 15px;
    border-bottom: 3px solid #0065FC;
}


/* Zone de recherche*/

h1,h2
{
    font-size: 140%;
    font-weight: 800;
}

#searchzone
{
    display:flex;
    height: 50px;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;  
}

.searchico
{
    display:flex;
    flex-direction: column;
    width: 54px;
    height: 54px;
    text-align: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin-top: -2px;
}

.searchzonemarker
{
    font-size: 140%;
}

.searchzonetxt
{
    padding-left: 10px;
    border:none;
}

.searchmobile
{
    position: absolute;
    right: 10px;
    width: 54px;
    height: 54px;
    color: white;
    font-size: 120%;
    background-color: #0065FC;
    margin-top: -2px;
    border:none;
    border-radius: 15px 15px 15px 15px;
}

.searchdesktop
{
    display: none
}


/* Zone de filtres */

.searchfilters
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.searchfilterstitle
{
    font-size: 120%;
    width: 100%;     
}

.searchfilterschoice
{
    display: flex;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 8px;
    border: 3px solid #F2F2F2;
    border-radius: 30px;
    
}

.searchfiltersfamily
{
    display: flex;
    flex-direction: column;
    background-color:#DEEBFF;
    width: 56px;
    height: 56px;
    justify-content: center;
    text-align: center;
    border-radius: 28px;
    margin-top: -3px;
    margin-left: -3px
}

.searchfiltersfamilyico
{
    font-size: 150%;
    color: #0065FC;
    
}

.searchfiltersfamilytitle
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 800;
}

.searchfilterschoice:hover
{
    border: 3px ridge #0065FC;
    box-shadow: 6px -6px 2px #DEEBFF;
}


/* info */

.info
{
    display: flex;
}

.infoicone
{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
}

.infoicone
{
    color: #0065FC;
    font-size: 80%;
}

.infotext
{
    display: flex;
    flex-direction: column;
    margin-left: 10PX;
    padding-top: 3px;
}

/* Mise en forme des liens sur chaque carte d'hébergement ou d'actvivté */

#accommodationlists a, #accommodation a, #activitylisting a
{
    text-decoration: none;
    color: black;
}


/* Les plus populaires */

#mostpopular
{
    background-color: #F2F2F2;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    max-width: 767px;
}

#popularlist
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.populartitle
{
    display: flex;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.mostpopularlist
{
    height: 100%;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 15px;
    padding: 6px;
}

.popularvisual
{
    display: flex;
    margin: 0;
}

.popularvisualimg
{
    object-fit: cover;
    max-width: 100%;
    width: 33%;
    max-height: 100%;
    height: 112px;
    border-radius: 20px 0px 0px 20px;
}

.popularprice
{
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 12px;
    font-size: 13px;
}

.populardescription
{
    font-size: 15px;
    font-weight: 800;
    margin: 4px 30px 0px 12px
}

.popularico
{
    font-size: 10px;
    margin-left: 12px;
}

.staron
{
    color: #0065FC;
}

.staroff
{
    color: #F2F2F2;
}


/* Hébergements localisés */

#localized_accommodation
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    max-width: 767px;
    border-radius: 20px;
}

.accommodationtitle
{
    padding-left: 20px;
}

#accommodation
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accommodationlist
{
    height: 100%;
    width: 300px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px 5px #F2F2F2;
    border-radius: 20px;
    margin: 15px;
    padding: 6px;
}

.accommodationvisual
{
    margin: 0;
}

.accommodationvisualimg
{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 112px;
    border-radius: 20px 20px 0px 0px;
}


.accommodationprice
{
    margin-top: 5px;
    margin-left: 12px;
    font-size: 13px;
}

.accommodationdescription
{
    font-size: 15px;
    font-weight: 800;
    margin: 4px 30px 0px 12px
}

.plus
{
    font-weight: 800;
    margin-left: 20px;
}

.accommodationico
{
    font-size: 10px;
    margin-left: 12px;
}


/* Activités localisés */

#localized_activity
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    max-width: 767px;
}

.activitytitle
{
    padding-left: 20px;
}

#activitylisting
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.activitylist
{
    height: 100%;
    width: 270px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 5px 5px 15px 5px #F2F2F2;
    border-radius: 20px;
    margin: 20px;
}

.activity_column_group
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.activityvisual
{
    margin: 0;
}

.activityvisualimg
{
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 112px;
    border-radius: 20px 20px 0px 0px;
}

.activitydescription
{
    font-size: 15px;
    font-weight: 800;
    margin: 4px 30px 0px 12px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */

footer
{
    background-color: #F2F2F2;
    padding:10px;

}

.footertitle
{
    font-size: 15px;
    font-weight: 800;
}

.footernav
{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding-bottom: 7px;
}

.footercolumncontainer
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 5px;
}


@media all and (min-width:676px)
/* modification activités */
{
    .activity_column_group
    {
        flex-direction: row;
    }    
}

@media all and (min-width:768px)
{
    /* Navigation */
    #searchzone
    {
        width: 350px;
        border-radius: 0px 25px 25px 0px;
    }

    .searchico
    {
        width: 50px;
        background-color: #F2F2F2;
        border-radius: 0px 0px 0px 0px;
    }

    .searchdesktopico
    {
        display: none;
    }
    
    .searchdesktop
    {
        display: inline;
    }

    .searchmobile
    {
        width: 150px;
        font-size: 100%;
        left: 250px;
        border-radius: 0px 15px 15px 0px;
    }


    /* Zone de filtres */
    .searchfilters
    {
        margin-top: 20px;
    }

    .searchfilterschoice
    {
        margin-right: 20px;
    }


    /* Les plus populaires */

    .popularvisual
    {
        flex-direction: column;
    }
    
    #mostpopular
    {
        width: auto;
        max-width: 991px;
        border-radius: 20px;
    }

    .popularvisualimg
    {
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }

    .mostpopularlist
    {
        display: flex;
        height: 230px;
        width: 200px;
    }

    
    /* Hébergements localisés */

    #localized_accommodation
    {
        width: auto;
        max-width: 991px;
        background-color:white;
    }

    #accommodation
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    /* Activités localisés */

    #localized_activity
    {
        width: auto;
        max-width: 991px;
        background-color:#F2F2F2;
        border-radius: 20px;
    }

    #activitylisting
    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 925px;
    }

    .activity_column_group
    {
        flex-direction: column;
    }
    
    .act1img, .act4img
    {
        height: 310px;
    }



    /* Footer */

    .footercolumn
    {
        display: flex;
        justify-content: space-around;
    }

    .footercolumncontainer
    {
        padding-left: 0px;
        width: 200px;
        border: 5px solid #F2F2F2;
        box-shadow: 5px 5px 15px 5px #F2F2F2;
        border-radius: 20px;
        margin: 15px;
        padding: 15px;
    }

    footer
    {
        background-color: white;
        padding: 20px;
    }
}


@media all and (min-width:992px)
{
    #container
    {
        margin-top: 50px;
    }

    
    /* entête */

    .signup
    {
        top:67px;
        right: 20px;
        padding-left: 20px;
    }

    header
    {
        display: flex;
        max-width: 1199px;
        padding: 0px 20px 20px 20px;
    }

     /* Section corps */
 
     #body
    {
        max-width: 1199px;
        padding: 20px; 
    }


    /* Navigation */

    nav
    {
        position: absolute;
        right: 120px;
        top: 0px;
    }

    .headernav
    {
        border-bottom: none;
        padding-bottom: 0;
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top:-12px
    }

    nav a:hover
    {
        padding-top: 60px;
        padding-bottom: 0px;
        border-bottom: none;
        border-top: 3px solid #0065FC;
    }


    /* Zone de filtres */

    .searchfilterstitle
    {
        padding-right: 20px;
        width: auto;     
    }


    /* Les plus populaires */

    #popularlist
    {
        flex-direction: column;
    }
 
    .popularvisual
    {
        flex-direction:row;
    }
     
    #mostpopular
    {
        width: 335px;
    }
 
    .popularvisualimg
    {
        width: 33%;
        border-radius: 20px 0px 0px 20px;
    }
 
    .mostpopularlist
    {
        height: 100%;
        width: 300px;
    }
 
     
    /* Hébergements localisés */
 
    #localized_accommodation
    {
        width: auto;
        background-color: #F2F2F2;
    }
 
    #accommodationlists
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        max-width: 1199px;
    }

    .accommodationlist
    {
        width: 185px;
        margin: 10px;
    }

    .accommodationdescription
    {
        margin: 3px 0px 0px 5px;
    }

    .accommodationprice
    {
        margin-left: 5px;
    }

    .accommodationico
    {
        margin-left: 5px;
    }

    #localized_accommodation
    {
        margin-right: 15px;
    }


    /* Activités localisés */
    
    #activity
    {
        max-width: 1199px;
        margin: 20px;
    }

    #localized_activity
    {
        height: auto;
        background-color:white;
        max-width: 1199px;
    }

    .activitytitle
    {
        padding-left: 0px;
    }

    #activitylisting
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1199px;
    } 

    .act1img, .act4img
    {
        height: 400px;
    }

    .act5img
    {
        height: 140px;
    }

    .act3img
    {
        height:130px
    }

    .act6img
    {
        height: 170px;
    }
 
    .act2img
    {
        height:180px;
    }

    .activity_column_group
    {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .activitylist
    {
        height: auto;
        max-width: 230px;
        margin-left: 0px;
        margin-right: 0px;
    }

    /* Footer */

    .footercolumn
    {
        justify-content:left;
        flex: auto;
        padding-left: 0px;
    }
 
    .footercolumncontainer
    {
        width: 550px;
        padding-left: 0px;
        margin-left: 0px;   
    }
 
    footer
    {
        background-color: #F2F2F2;
        width: auto;
    }
}

@media all and (min-width:1200px)
{
    /* Header */
    
    #header
    {
        max-width: 1599px;
        padding-left: 30px;
    }
    
    /* Section corps */

    #body
    {
       padding: 30px;
    }

    /* Hébergements localisés */
 
    #accommodationlists
    {
        max-width: 1599px;
    }

    .accommodationlist
    {
        width: 245px;
    }

    .accommodationdescription
    {
        margin: 3px 0px 0px 15px;
    }

    .accommodationprice
    {
        margin-left: 15px;
    }

    .accommodationico
    {
        margin-left: 15px;
    }


   /* Activités localisés */

   #activity
   {
       padding:30px;
       margin:0px;
   }

   .activitylist
   {
       max-width: 270px;
   }
}

@media all and (min-width:1500px)

{
    /* Zone de recherche*/

.searchmobile
{
    left: 350px;
}

    /* Section corps */

    #body
    {
       padding: 30px 0px 30px 100px;
    }


   /* Activités localisés */

   #activity
   {
       padding:30px 0px 30px 100px;
       margin:0px;
   }

}




